body {
  background: #ecf2ff;
  background: black;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todos {
  background: #ffff;
  text-align: center;
  border-radius: 40px;
  width: 922px;
  height: 640px;
  margin-top: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.urresult {
  background: #5d3efb;
  text-align: center;
  border-radius: 40px;
  box-sizing: border-box;
  width: 100%;
  height: 640px;
  max-width: 458px;
}

.infos,
.urresult {
  width: 50%;
}
.sumario {
  margin-right: 240px;
  color: #313652;
}

.reaction,
.memory,
.verbal,
.visual {
  width: 80%;
  border-radius: 12px;
  margin: auto;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.continue,
a {
  background: #5d3efb;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 60%;
  border-radius: 50px;
  color: #fffefe;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.urre {
  color: #c9bdff;
  padding: 10px;
  margin: 30px;
}

.circle {
  background: linear-gradient(
    0deg,
    rgba(93, 62, 251, 1) 9%,
    rgba(84, 58, 214, 1) 100%
  );
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.circle h1 {
  font-size: 80px;
  margin: 0 0 10px 0;
  color: #fffefe;
}

.circle p {
  font-size: 23px;
  margin: 0;
  color: #8174ff;
}

.text h1 {
  font-size: 40px;
  margin: 40px 0 10px 0;
  color: #fffefe;
}

.text p {
  font-size: 20px;
  margin: 0;
  color: #c9bdff;
}

.reaction {
  background: #fff6f7;
  color: #d77775;
}

.memory {
  background: #fffaf4;
  color: #f3b53f;
}

.verbal {
  background: #f2fdf9;
  color: #48aa91;
}

.visual {
  background: #f4f4fe;
  color: #2f3a99;
}

.infos .num {
  color: #959ea5;
}

.num b {
  color: black;
}

.reaction .name,
.memory .name,
.verbal .name,
.visual .name {
  margin-right: 150px;
}

.infos img {
  margin-left: 20px;
}

.infos p {
  margin-right: 12px;
}
